@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Zen+Loop&display=swap');
body{
    font-family: 'Zen Loop', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.pink-color {
    color: #e41f6e;
}
.half-width{
    width: 50%;
    padding:  5%;
}
.flexible-container{
    display:flex;
    padding: 0;
}
.header{
    padding-right: 10%;
}
.half-width img{
    width: 80%;
}
.half-width p{
    color: #6157DC;
    font-weight: Bolder;
    font-size: large;
}

button{
    background-image:linear-gradient(45deg,#fd40bb,#6a4adb);
    padding:20px 20px;
    font-weight: bolder;
    font-size: large;
    border: none;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}
.top-banner{
    background-image: url("images/top-ban.png");
    background-size: 100% 100%;
    background-position: center;
   
}
.Lifeplan{
    background-image: url("images/lifeplan.png");
    background-repeat: no-repeat;
    background-position: right;
}

.Lifeplan img{
    width: 80%;
}
.Lifeplan p{
    padding-right: 5%;
}
.experiences{
    margin: 15;
}
.experiences-area{
    background-image: url("images/exp-bg.png");
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    box-shadow: -1px 1px 20px rgb(182, 47, 110);

}
footer p{
    text-align: center;
     
}




::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #9e116f);
    border-radius: 6px;
}
